<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <%
  // Title
  var title = page.title || '';
  if (is_archive()) {
    title = __('archive_title');
    if (is_month()) {
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()) {
      title += ': ' + page.year;
    }
  } else if (is_category()) {
    title = __('category_title') + ': ' + page.category;
  } else if (is_tag()) {
    title = __('tag_title') + ': ' + page.tag;
  }
  if (is_home()) {
    title = config.title;
    if (page.current && page.current > 1) {
      title = 'page ' + page.current + ' | ' + config.title;
    }
  } else if (page.current && page.current > 1) {
    title = 'page ' + page.current + ' | ' + title + ' | ' + config.title;
  } else if (is_post()) {
    title = title + ' | ' + config.title;
  }
  // Title end
  %>
  <title>
    <%= title %> 
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<% if (config.author){ %>
  <meta name="author" content="<%= config.author %>">
<% } %>
<% if ( is_home() && config.description){ %>
  <meta name="description" content="<%= config.description %>">
<% } %>
<%- open_graph({title: title}) %>
<% if (theme.rss){ %>
  <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
<% } %>
  <!-- favicon icon files -->
<% if (theme.favicon){ %>
  <link rel="icon" type="image/x-icon" href="<%- theme.favicon %>">
  <link rel="icon" href="<%- theme.favicon %>">
<% } %>
  <!-- css files -->
  <%- css('css/font-awesome.min.css') %>
  <%- css('css/uno.css') %>
  <%- css('css/tagscloud.css') %>
  <%- css('css/archive.css') %>
  <%- css('css/jquery.fancybox.css') %>
  <link href="//cdn.bootcss.com/highlight.js/9.8.0/styles/monokai-sublime.min.css" rel="stylesheet">
</head>
<body>
  <!-- mobile menu -->
  <span class="mobile btn-mobile-menu">
    <i class="fa btn-mobile-menu__icon fa-bars" aria-hidden="true"></i>
  </span>
  <!-- side panel -->
  <%- partial('_partials/side-panel') %>
  <div class="content-wrapper">
    <div class="content-wrapper__inner entry">
      <!-- body panel -->
      <%- body %>
      <!-- footer panel -->
      <%- partial('_partials/footer') %>
    </div>
  </div>
  <!-- js files -->
  <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/jquery.min.js"%3E%3C/script%3E'))</script>
  <%- js('js/main.js') %>
  <%- js('js/scale.fix.js') %>
  <%- js('js/tagcloud.js') %>
  <% if(is_post()) { %>
  <%- partial('_scripts/fancybox') %>
  <%- partial('_scripts/mathjax') %>
  <script src="//cdn.bootcss.com/highlight.js/9.8.0/highlight.min.js"></script>
  <%- js('js/gallery.js') %>
  <script>
  hljs.initHighlightingOnLoad();
  </script>
  <% } %>
  <%- partial('_scripts/gototop') %>
  <%- partial('_scripts/site-analytics') %>
  <%- partial('_scripts/github-repo-widget') %>
  <%- partial('_scripts/killie6') %>
</body>
</html>
