<!-- 暫未美化 -->
<% if (config.links && config.links.length) { %>
<h1><%= __('links') %></h1>
<div class="linkslist">
  <p class="asidetitle"></p>
    <ul>
    <% config.links.forEach(function(item) { %>
      <li><a href="<%= item.url %>" target="_blank" title="<%= item.info %>"><%= item.name %></a> ---- <%= item.info %></li>
    <% }); %>
    </ul>
</div>
<% } %>